<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/CSS/home_style.css">
    <title>Medi-Locker</title>

</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-light">
        <div class="container">
            <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a href="#" class="navbar-brand mr-auto"><img src="/img/logo.png" alt="Medi-Locker" height="35"
                    width="60"><span class="text-white ml-2"> Medi-Locker</span></a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <nav class="navbar-nav">
                    <a href="#" class="nav-link text-white">Home</a>
                    
                    <a href="/login">
                        <button class="btn btn-dark m-auto" type="button">Login</button>
                    </a>
                </nav>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row py-3">
            <div class="col-md-6">
                <div class="row">
                    <div class="display-3 text-center font-weight-normal">
                        Your Health Information In Your Pocket
                    </div>
                </div>
                <div class="row">
                    <div class="text-muted text-center pb-2">

                        Do you frequently find yourself taking lists to your doctor’s appointments?
                    </div>
                    <div class="text-muted text-center pb-2">

                        With Medi-Locker you can upload all your medical records and health information in one secure,
                        paperless location.
                    </div>
                    <div class="text-muted text-center pb-2">

                        <a href="/home" class="nav-link d-inline p-0">Medi-Locker</a>
                        is the health management app that allows you to track symptoms, immunisations, set medication
                        reminders and
                        manage medical and fitness information, in one secure HIPAA Compliant online location
                    </div>

                </div>
                <div class="row py-2">
                    <div class="col-md-6 ">
                        <div class="text-center"> Already Have an account?
                            <a href="/login">

                                <button href="/login" class="btn btn-link btn-light "
                                    id="login_link">Login</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="/signup">
                            <button class="btn btn-outline-success btn-sm ml-2 zoom">Get Started For Free</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="figure">
                    <img src="/img/doc_lap.jpg" alt="" class="figure-img img-fluid rounded-lg">
                    <div class="figure-caption text-muted text-center">One Stop Destination For All Your Prescriptions
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light-green">

        <div class="container">

            <div class="row py-5 justify-content-center">
                <blockquote class="blockquote text-center">
                    <p class="mb-0 text-center">With everything you need to manage and
                        track your symptoms and health
                        history, taking control of your health has never
                        been easier!</p>
                </blockquote>
                
            </div>
        </div>
    </div>



    <footer class="page-footer font-small special-color-dark pt-4">

        <div class="footer-copyright text-center py-3">© 2023 Copyright:
            <a href="/home"> Medi-Locker</a>
        </div>
    </footer>



</body>

</html>